.background_dialog{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.background_dialog.show{
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog{
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);;
    height:auto;
    position: absolute;
    top:0;
    left: 800;
    transform: scale(0,0);
    transition: all 0.4s;
    transform-origin: 0% 0%;
    width: 520px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dialog.show{
    top:50%;
    left:50%;
    margin-left: -260px;
    transform: scale(1,1);
}
.dialog header{
    position: relative;
    padding: 16px 24px;
    height: 22px;
    width: 472px;
    border-bottom: 1px solid #ddd;
}
.dialog .container{
    padding: 24px;
    width:100%;

}
.dialog footer{
    position: relative;
    padding: 10px 16px;
    bottom:0px;
    height: 33px;
    width: 488px;
    border-top: 1px solid #ddd;
}
.dialog header .x{
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
    color:#888888;
}
.dialog header .x:hover{
    color:#000;
}

button.primary{
    height:32px;
    font-size: 14px;
    color: #fff;
    background-color: #1890ff;
    border:none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    padding: 4px 15px;
}
button.primary:hover{
    border:none;
    background-color: #40a9ff;
}
input{
    padding:4px 11px;
    background-color: #fff;
    outline: none;
    color:rgba(0, 0, 0, 0.65);
    border:1px solid #d9d9d9;
    border-radius: 2px;
    line-height: 1.5715;
    display: inline-block;
    transition: all 0.3s;
}
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  
input:hover{
    border-color: #40a9ff;
}
input:focus{
    border-color: #40a9ff;
    box-shadow: 0px 0px 6px 0px #40a9ff;
}


button.default{
    height:32px;
    font-size: 14px;
    color: #666;
    background-color: #f1f1f1;
    border:1px solid #ccc;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    padding: 4px 15px;
}
button.default:hover{
    color: #40a9ff;
    border:1px solid #40a9ff;
}

@keyframes transfromChange{
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.5);}
}

@-webkit-keyframes transfromChange{
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.5);}
}